@font-face {
   font-family: 'Amalfi Coast';
   font-display: swap;
   src: url('file:///Users/Andre/Library/Mobile%20Documents/com~apple~CloudDocs/Documents/Projekte/Domains/EXPORT/fonts/Amalfi%20Coast/font.ttf');
}
